@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;400;600&family=Montserrat:wght@100;200;400;600&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: rgba(255, 255, 255, 0.7);
}

body {
    background: url(../img/Авторизация-3-min.png) no-repeat center top / cover;
    background-color: #1B1737;
}
header{
    height: 70px;
}

footer {
    height: 292px;
    background: #1B1737;
}

a {
    text-decoration: none;
}

.box-container{
	max-width: 1070px;
	height: 100%;
	margin: 0 auto;
}

.box-container1230{
	max-width: 1230px;
	height: 100%;
	margin: 0 auto;
}

.flex-container {
    display: flex;
    height: 100%;
	margin: 0 auto;
}

.justify-content-center {
    justify-content: center;
}
.justify-content-space-between {
    justify-content: space-between;
}

.flex-direction-column {
    flex-direction: column;
}

.text-align-center {
    text-align: center;
}

.flex-wrap-container{
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    -webkit-align-content: flex-end; 
    display: flex;
    flex-flow: row wrap; 
    justify-content: center;
    align-content:space-around;
}


.item-center {
    align-self: center;
}

.flex-item {
    -webkit-flex-grow: 3; 
    flex-grow: 2;
    align-self: center;
}

.flex-direction-column {
    flex-direction: column;
}

.borderTest {
    border: 1px solid black;
}

.sectionOne {
    height: 500px;
}

.displeyFlex {
    display: flex;
}

.boxWidth300 {
    width: 350px;
}

.boxWidth500 {
    width: 500px;
}

.boxWidth437 {
    width: 437px;
}

.box {
    background-color: #3F23EB;
    width: 222px;
    height: 219px;
    border-radius: 6px;
}

.boxQR {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 6px;
}

.boxCommittee {
    background-color: #3F23EB;
    width: 222px;
    height: 219px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 6px;
}

.boxInfo {
    width: 163px;
    height: 228px;
    color: rgba(255, 255, 255, 0.8);
    background: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(4px);
    border-radius: 6px;
    border: 1px solid grey;
    
}
.box:hover{
   -webkit-transform: scale(1.2); 
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

/*  START margin settings */

.marginAll30px {
    margin: 30px;
}

.marginButtom30px {
    margin-bottom: 30px;
}

.marginTop60px {
    margin-top: 60px;
}

.marginTop70px {
    margin-top: 70px;
}

.margin15 {
    margin: 15px 0px 15px 0px;
}

.marginRight60 {
    margin-right: 60px;
}
.marginLeftt60 {
    margin-left: 60px;
}

.marginLeftt15 {
    margin-left: 15px;
}

.marginRigth50 {
    margin-right: 50px;
}

.marginRight30 {
    margin-right: 30px;
}
.marginRight15 {
    margin-right: 15px;
}

/* END margin settings */

/* START padding settings */
.padding-left-15 {
    padding-left: 15px;
}
/* END padding settings */


.fade {
    opacity: 0.6;
    transition: 0.3s;
  }
  
.fade:hover {
    opacity: 1;
    transition: 0.5s;
}

#text {
    height: 30px;
}

.img {
    position: absolute;
    z-index: -1;
}
.bg-img2 {
    background: url(../img/Group\ 53-2.png) no-repeat center top / cover;
    height: 100%;
    width: 100%;
  }

.gradientColor{
    background: linear-gradient(60deg, #FFFFFF 40%,#2400FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #0B2349;
}

/* START font settings */
.font {
    font-weight: 300;
    font-size: 48px;
}

.font-weight300 {
    font-weight: 300;
}

.font-weight400 {
    font-weight: 400;
}

.font-weight600 {
    font-weight: 600;
}
.font-size12 {
    font-size: 12px;
}

.font-size16 {
    font-size: 16px;
}

.font-size18 {
    font-size: 18px;
}

.font-size25 {
    font-size: 25px;
}

.font-size30 {
    font-size: 30px;
}

.text-color-white {
    color: #FFFFFF;
}

.text-color-white2 {
    color: rgba(255, 255, 255, 0.8);
}
/* END font settings */

/* START button settings */
.button-full {
    color: #FFFFFF;
    padding: 5px 27px;
    width: 201px;
    max-height: 36px;
    background: #3F23EB;
    border: 1px solid #3F23EB;
    border-radius: 4px;
    transition: 0.3s;
}

.button-full:hover {
    border: 1px solid #fff;
    transition: 0.5s;
}

.button-border {
    color: #FFFFFF;
    padding: 5px 27px;
    width: 201px;
    max-height: 36px;
    border-radius: 4px;
    border: 1px solid #DAD3FF;
}

.link{
    transition: 0.3s;
    color: rgba(255, 255, 255, 0.7);
}

.link:hover {
    font-weight: 600;
    transition: 0.5s;
    color: #FFFFFF;
    border-bottom: 1px solid #3F23EB;
}
/* START button settings */

.displayNone {
    display: none;
}

.bg-image2 {
   display: none;
}
/* Small Devices, Tablets */
@media only screen and (max-width : 1230px) {
    .select {
        display: -webkit-flex;
        -webkit-flex-flow: row wrap;
        -webkit-align-content: flex-end; 
        display: flex;
        flex-flow: row wrap; 
        justify-content: center;
        width: auto;
    }
    .marginTop60px {
        margin-top: auto;
    }
    .divHow {
        margin-top: 30px;
    }

    .sectionOne {
        height: auto;
    }

    .img {
       display: none;
    }

    .logoCompany {
        margin-right: 20px;
        margin-top: 20px;
    }
    .content {
        margin-left: 20px;
    }

    .marginLR20 {
        margin: 0 20px 0 20px;
    }

    .marginTopMobile20 {
        margin-top: 20px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 850px) {
    .nav {
        display: none;
    }
    .logo {
        justify-content: center;
        align-items: center;
    }

    .fade {
        opacity: 1;
    }
    
    .displayNone {
        display: block;
    }
    .content-container {
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .marginLR20 {
        margin: 0 20px 0 20px;
    }

    .paddingLR15 {
        padding: 0 15px 0 15px;
    }
    .textDisplay {
        display: none;
    }

    .font-weight300 {
        width: auto;
    }
    .buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .img2 {
        width: 50%;
        height: 100%;
        justify-content: center;
    }

    .font {
        font-size: 30px;
    }

    .marginTopMobile20 {
        margin-top: 20px;
    }

    .bg-image {
        display: none;
    }

    .bg-image2 {
        display: block;
     }

     .marginTopMobile15 {
        margin-top: 15px;
    }

    .select1 {
        display: -webkit-flex;
        -webkit-flex-flow: row wrap;
        -webkit-align-content: flex-end; 
        display: flex;
        flex-flow: row wrap; 
        width: auto;
    }

}

@media only screen and (max-width : 450px) {
    .marginLeftt60 {
        margin-left: 0;
    }

    .marginRight60 {
        margin-right: 5px;
    }

    .marginRigth50 {
        margin-right: 5px;
    }

    .footerLink {
        font-size: 14px;
    }

    .marginLRMobile10 {
        margin: 0 10px 0 10px;
    }
    .marginTopMobile15 {
        margin-top: 5px;
    }
    footer {
        height: auto;
    }

    .marginLeftt15 {
        margin-left: 0;
    }

    .marginB15 {
        margin-bottom: 15px;
    }

    .select1 {
        display: -webkit-flex;
        -webkit-flex-flow: row wrap;
        -webkit-align-content: flex-end; 
        display: flex;
        flex-flow: row wrap; 
        width: auto;
    }

    .marginTopMobile20 {
        margin-top: 20px;
    }
}